In [21]:
import pickle
import pandas as pd
import numpy as np
from stable_baselines3 import DDPG

In [22]:

replay_buffer = pickle.load(open("./bin/training_results/replay_buffer.pkl","rb"))

In [23]:
obs = pd.DataFrame(replay_buffer.observations.reshape(-1,3))
actions = pd.DataFrame(replay_buffer.actions.reshape(-1,2))
rewards = pd.DataFrame(replay_buffer.rewards.reshape(-1,1))
dones = pd.DataFrame(replay_buffer.dones.reshape(-1,1))

In [11]:
np.nonzero(dones.to_numpy())

(array([  427,   813,  1198,  1583,  1970,  2357,  2747,  3125,  3508,
         3901,  4286,  4661,  5036,  5412,  5785,  6170,  6551,  6926,
         7308,  7681,  8061,  8445,  8809,  9180,  9552,  9927, 10298,
        10675, 11054, 11426, 11804, 12172, 12549, 12917, 13296, 13654,
        14024, 14393, 14768, 15137, 15508, 15887, 16253, 16619, 16984,
        17349, 17725, 18096, 18473, 18843, 19220, 19601, 19978, 20351,
        20727, 21098, 21474, 21851, 22230, 22602, 22972, 23347, 23724,
        24095, 24473, 24847, 25160, 25531, 25906, 26287, 26659, 27035,
        27417, 27796, 28176, 28549, 28920, 29292, 29654, 30027, 30407,
        30783, 31155, 31533, 31863, 32236, 32587, 32876, 33173, 33536,
        33908, 34288, 34661, 35033, 35416, 35786, 36158, 36538, 36914,
        37285]),
 array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]))

In [24]:
all_data=pd.concat([obs,actions,rewards,dones], axis=1)

In [26]:
all_data[500:]

               0          1         2         0         1         0    0
500    -0.441899 -47.949120  0.000000 -0.004313  0.004251  0.515279  0.0
501    -0.441789 -47.911419  0.000110 -0.004313  0.004251  0.515388  0.0
502    -0.441716 -47.874020  0.000073 -0.004313  0.004251  0.515461  0.0
503    -0.441607 -47.836880  0.000110 -0.004313  0.004251  0.515571  0.0
504    -0.441497 -47.800011  0.000110 -0.004313  0.004251  0.515681  0.0
...          ...        ...       ...       ...       ...       ...  ...
999995  0.000000   0.000000  0.000000  0.000000  0.000000  0.000000  0.0
999996  0.000000   0.000000  0.000000  0.000000  0.000000  0.000000  0.0
999997  0.000000   0.000000  0.000000  0.000000  0.000000  0.000000  0.0
999998  0.000000   0.000000  0.000000  0.000000  0.000000  0.000000  0.0
999999  0.000000   0.000000  0.000000  0.000000  0.000000  0.000000  0.0

[999500 rows x 7 columns]

In [15]:
model = DDPG.load("./bin/training_results/real_model_training_results.zip", None )

In [16]:
model.critic.input()

ContinuousCritic(
  (features_extractor): FlattenExtractor(
    (flatten): Flatten(start_dim=1, end_dim=-1)
  )
  (qf0): Sequential(
    (0): Linear(in_features=5, out_features=6, bias=True)
    (1): ReLU()
    (2): Linear(in_features=6, out_features=6, bias=True)
    (3): ReLU()
    (4): Linear(in_features=6, out_features=1, bias=True)
  )
)